.App {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.App>* {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
}


/* keep .hidden at bottom of stylesheet */
.hidden {
    display: none;
}